
body  {
    font-family: Amiri !important;
    font-size:15pt !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Amiri !important;
	font-size:15pt !important;

}

.report_table {

      font-family: Amiri !important;
      font-size:15pt !important;
}